 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
               <!--  <div class="col-lg-4 col-lg-offset-2"> -->
                    <p>Hi, my name's Augusto César, I'm programmer, designer and sometimes I write philosophical sentences.
                    I like to base my art on the principle of simplicity, as I consider it a challenge to build something that is wonderful and simple at the same time. So, I like to be simple in building my arts and in my life too.</p>
                    <p>I really like drawing on paper, I'm turning some of these drawings on paper into digital art.
                    I don't speak English yet, so this text was translated on google translator. Thank you for taking your time here, I hope you enjoy my Art!</p>
 <!--               </div>
                 <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
                    <div id="iframe7">
                        <iframe width="560" height="315" style="border: none;" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                    </div>

                    <div>
                        <iframe width="950" height="534" src="https://www.youtube.com/embed/u9NE0jInb_c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
            </div>
        </div>
    </section>


