<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container portfolio-flex-grid">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Digital Art</h2>
                <!-- <hr class="star-primary">
 -->            </div>
        </div>

        <!-- ÍCONE RETORNAR Icons made by Freepik from www.flaticon.com -->
        
        <a href="{{site.url}}/gallery">
            <img src="{{site.url}}/img/back.png" class="icon-retornar" alt="Retornar à página anterior">
        </a>
        

        <div class="portfolio-flex-row">

            <div class="metabee">
                <div class="portfolio-item">
                    <a href="{{site.url}}/square" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>                    
                        <img src="{{site.url}}/img/thumb-square-animals.png" class="img-responsive" alt="banner square-animals collection">
                        <p>Click to see more</p>
                    </a>
                </div>
            </div>


            <div class="metabee">     
                <div class="portfolio-item">
                    <a href="https://rarible.com/token/0xF6793dA657495ffeFF9Ee6350824910Abc21356C:65447984612991151614627407832357557827333223522597001276159587536630532014081" class="portfolio-link" target="_blank">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/vida-longa.png" class="img-responsive" alt="imagem NFT power Nerd">
                        <p>Click to get this NFT</p>
                    </a>
                </div>
            </div>


            <div class="metabee">     
                <div class="portfolio-item">
                    <a href="https://hicetnunc.art/objkt/599701" class="portfolio-link" target="_blank">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/geometric_hawk4.png" class="img-responsive" alt="imagem NFT Geometric Bird">
                        <p>Click to get this NFT</p>
                    </a>
                </div>
            </div>

        </div>

    </div>

</section>