<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container portfolio-flex-grid">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Digital Art</h2>
                <!-- <hr class="star-primary"> -->
            </div>
        </div>

        <!-- ÍCONE RETORNAR Icons made by Freepik from www.flaticon.com -->
        <a href="{{site.url}}/gallery">
            <img src="{{site.url}}/img/back.png" class="icon-retornar" alt="Retornar à página anterior">
        </a>

        <div class="portfolio-flex-row">
           
            <div class="metabee">
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <i class="fa fa-eye"></i> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/face-s.png" class="img-responsive" alt="{{ post.alt }}">
                    </a>
                </div>
            </div>

            
            <div class="metabee">
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <i class="fa fa-eye"></i> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/gorillaz-mask.png" class="img-responsive" alt="{{ post.alt }}">
                    </a>
                </div>
            </div>

            <div class="metabee">
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <i class="fa fa-eye"></i> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/alcor.png" class="img-responsive" alt="{{ post.alt }}"> 
                    </a>
                </div>
            </div>

            <div class="metabee">
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <i class="fa fa-eye"></i> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/cisne.png" class="img-responsive" alt="{{ post.alt }}"> 
                    </a>
                </div>
            </div>

            <div class="metabee">
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <i class="fa fa-eye"></i> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/cabuterimon.png" class="img-responsive" alt="{{ post.alt }}"> 
                    </a>
                </div>
            </div>

            <div class="metabee">
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <i class="fa fa-eye"></i> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/flamedramon.png" class="img-responsive" alt="{{ post.alt }}"> 
                    </a>
                </div>
            </div>

            <div class="metabee">
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <i class="fa fa-eye"></i> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/carpa.png" class="img-responsive" alt="{{ post.alt }}"> 
                    </a>
                </div>
            </div>

            <div class="metabee">
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <i class="fa fa-eye"></i> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/heart-tatoo.png" class="img-responsive" alt="{{ post.alt }}"> 
                    </a>
                </div>
            </div>

            <div class="metabee">
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <i class="fa fa-eye"></i> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/kisame.png" class="img-responsive" alt="{{ post.alt }}"> 
                    </a>
                </div>
            </div>

            <div class="metabee">
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <i class="fa fa-eye"></i> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/might-guy.png" class="img-responsive" alt="{{ post.alt }}"> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/metabee.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/blank.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/cdz3.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/digimonm.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/afro-samurai.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/doko.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/dragao.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/goku5.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/hellboy.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>
            
            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/ichigo-bankai.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/irako.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/kakashi.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/Kings-Skull.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/lee.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/majin-boo.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/Naruto.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/naruto-e-jiraya.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/naruto-shippuden.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/nsei.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/orochimaro.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/pain.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/ryuk.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/sasuke-x-itachi.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/soul-eater.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/spaawn.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/spider1.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/syzael-apollo.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/xmen.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/zelda.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/2d.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

            <div class="metabee"> 
                <div class="portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- <p>Get this NFT</p> -->
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/17.png" class="img-responsive" alt=""> 
                    </a>
                </div>
            </div>

<!--DIV FIM-->
        </div>

    </div>

</section>