<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {% if page.url == "/square/" %}
                  
          <div class="intro-text">
            <span class="name">Square Animals Gallery</span>
            <hr class="star-light" />
            <span class="skills">"Square Animals" is a collection of animal designs using just rectangles and colors. The aim is to show animals from a different perspective and how they are peculiar, as they have specific characteristics, but at the same time they are familiar to almost all human beings. For example, when you see a cat, you know it's a cat because of its peculiar characteristics, it occurs in a similar way when you see a dog, or a snake, or an elephant, because all animals have specific characteristics, but at the same time they are familiar to us, meaning we can recognize animals basically because of their peculiarities. So, this collection has the purpose of showing exactly the peculiarities of some animals and for that I tried to represent them in a simple, elegant and peculiar way. Hope it's nice!</span>
          </div>

        {% elsif page.url == "/about/" %}
        
          <img class="img-responsive" src="{{site.url}}/img/profile.png" alt="profile-pic" />
          <div class="intro-text">
          </div>
        
        {% else %}

<!--           <img class="img-responsive" src="{{site.url}}/img/AC.svg" alt="profile-pic" /> -->
          <img class="img-responsive" src="{{site.url}}/img/AC.svg" alt="profile-pic" />
          <div class="intro-text">
            <span class="name">Welcome!</span>
            <hr class="star-light" />
            <span class="skills">"I have nature and art and poetry, and if that is not enough, what is enough?"</span>
            <p class="skills">(Vincent van Gogh)</p>
          </div>
        {% endif %}
        
      </div>
    </div>
  </div>
</header>
