<!-- SE FOR O PORTFOLIO NORMAL ###################################################################################################### -->
    <!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container portfolio-flex-grid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary">
            </div>
        </div>

{% if page.url == "/portfolio/" %}
    <div>
        <p>
            E PORTFOLIO
        </p>
    </div>
{% elsif page.url != "/portfolio/" %}
    <div>
        <p>
            NAO E PORTFOLIO
        </p>
    </div>
{% else %}
    <div>
        <p>
            E NADA
        </p>
    </div>
{% endif %}

    </div>
</section>