<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container portfolio-flex-grid">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Gallery</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="portfolio-flex-row">

            <!-- GALLERY SQUARE ANIMALS -->
            <div class="portfolio-flex-item portfolio-item">
                <a href="{{site.url}}/square" class="portfolio-link">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </div>
                    </div>
                    <img src="{{site.url}}/img/pata.png" class="img-responsive" alt="{{ post.alt }}">
                </a>
            </div>

           
            <div class="portfolio-flex-item portfolio-item">
                <a href="https://rarible.com/token/0xF6793dA657495ffeFF9Ee6350824910Abc21356C:65447984612991151614627407832357557827333223522597001276159587536630532014081" class="portfolio-link" data-toggle="modal" target="_blank">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-eye"></i>
                        </div>
                    </div>
                    <img src="{{site.url}}/img/portfolio/vida-longa.png" class="img-responsive" alt="{{ post.alt }}">
                </a>
            </div>

          
            <div class="portfolio-flex-item portfolio-item">
                <a href="" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-eye"></i>
                        </div>
                    </div>
                    <img src="{{site.url}}/img/portfolio/face-s.jpg" class="img-responsive" alt="{{ post.alt }}">
                </a>
            </div>

          
            <div class="portfolio-flex-item portfolio-item">
                <a href="" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-eye"></i>
                        </div>
                    </div>
                    <img src="{{site.url}}/img/portfolio/gorillaz-mask.jpg" class="img-responsive" alt="{{ post.alt }}">
                </a>
            </div>


            <div class="portfolio-flex-item portfolio-item">
                <a href="" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-eye"></i>
                        </div>
                    </div>
                    <img src="{{site.url}}/img/portfolio/cubone.jpg" class="img-responsive" alt="{{ post.alt }}"> 
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">
                <a href="" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-eye"></i>
                        </div>
                    </div>
                    <img src="{{site.url}}/img/portfolio/cisne.jpg" class="img-responsive" alt="{{ post.alt }}"> 
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">
                <a href="" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-eye"></i>
                        </div>
                    </div>
                    <img src="{{site.url}}/img/portfolio/anchor.jpg" class="img-responsive" alt="{{ post.alt }}"> 
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">
                <a href="" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-eye"></i>
                        </div>
                    </div>
                    <img src="{{site.url}}/img/portfolio/flamedramon.jpg" class="img-responsive" alt="{{ post.alt }}"> 
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">
                <a href="" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-eye"></i>
                        </div>
                    </div>
                    <img src="{{site.url}}/img/portfolio/greymon.jpg" class="img-responsive" alt="{{ post.alt }}"> 
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">
                <a href="" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-eye"></i>
                        </div>
                    </div>
                    <img src="{{site.url}}/img/portfolio/heart-tatoo.jpg" class="img-responsive" alt="{{ post.alt }}"> 
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">
                <a href="" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-eye"></i>
                        </div>
                    </div>
                    <img src="{{site.url}}/img/portfolio/kisame.jpg" class="img-responsive" alt="{{ post.alt }}"> 
                </a>
            </div>









        </div>

            <div class="portfolio-flex-item portfolio-item">
                <a href="" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-eye"></i>
                        </div>
                    </div>
                    <img src="{{site.url}}/img/portfolio/might-guy.jpg" class="img-responsive" alt="{{ post.alt }}"> 
                </a>
            </div>

    </div>

                <div class="portfolio-flex-item portfolio-item">
                <a href="" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-eye"></i>
                        </div>
                    </div>
                    <img src="{{site.url}}/img/portfolio/metabee.jpg" class="img-responsive" alt="{{ post.alt }}"> 
                </a>
            </div>
            
</section>