
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container portfolio-flex-grid">
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- <h2>Square Animals Gallery</h2> -->
                    <hr class="star-primary">
                </div>
            </div>


            <div class="portfolio-flex-row">
                
                <!-- REFERENCIA OS POSTOS UTILIZANDO O CÓDIGO #portfolioModal-X, ONDE X REPRESENTA O NÚMERO DO MODAL-ID DO RESPECTIVO
                    POST -->


                <!-- Arte 1 -->
                <div class="portfolio-flex-item portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-eye"></i>
                            </div>
                        </div>
                        
                    </a>
                </div>
<img src="{{site.url}}/img/portfolio/SquareButerffly.png" class="img-responsive" alt="{{ post.alt }}">
                <!-- Arte 2 -->
                <div class="portfolio-flex-item portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-eye"></i>
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/SquareFish.png" class="img-responsive" alt="{{ post.alt }}">
                    </a>
                </div>

                <!-- Arte 3 -->
                <div class="portfolio-flex-item portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-eye"></i>
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/SquareNaja.png" class="img-responsive" alt="{{ post.alt }}">
                    </a>
                </div>

                <!-- Arte 4 -->
                <div class="portfolio-flex-item portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-eye"></i>
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/SquareSpider.png" class="img-responsive" alt="{{ post.alt }}">
                    </a>
                </div>

                <!-- Arte 5 -->
                <div class="portfolio-flex-item portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-eye"></i>
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/SquareElephant.png" class="img-responsive" alt="{{ post.alt }}">
                    </a>
                </div>

                <!-- Arte 6 -->
                <div class="portfolio-flex-item portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-eye"></i>
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/SquareDog.png" class="img-responsive" alt="{{ post.alt }}">
                    </a>
                </div>                

                <!-- Arte 7 -->
                <div class="portfolio-flex-item portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-eye"></i>
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/SquareLion.png" class="img-responsive" alt="{{ post.alt }}">
                    </a>
                </div>    

                <!-- Arte 8 -->
                <div class="portfolio-flex-item portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-eye"></i>
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/SquareEagle.png" class="img-responsive" alt="{{ post.alt }}">
                    </a>
                </div>    

                <!-- Arte 9 -->
                <div class="portfolio-flex-item portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-eye"></i>
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/SquareFrog.png" class="img-responsive" alt="{{ post.alt }}">
                    </a>
                </div>    

                <!-- Arte 10 -->
                <div class="portfolio-flex-item portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-eye"></i>
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/SquareCat.png" class="img-responsive" alt="{{ post.alt }}">
                    </a>
                </div>    

                <!-- Arte 11 -->
                <div class="portfolio-flex-item portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-eye"></i>
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/SquarePig.png" class="img-responsive" alt="{{ post.alt }}">
                    </a>
                </div>  

                <!-- Arte 12 -->
                <div class="portfolio-flex-item portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-eye"></i>
                            </div>
                        </div>
                        <img src="{{site.url}}/img/portfolio/SquareBull.png" class="img-responsive" alt="{{ post.alt }}">
                    </a>
                </div>  













            </div>


        </div>
    </section>
