---
layout: about
---


 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
               <!--  <div class="col-lg-4 col-lg-offset-2"> -->
                    <p>Hi, my name is Augusto César, known as AuCar I am Brazilian, programmer, digital designer and sometimes poet. My art is based on simplicity, I like to use little color mixing and finer lines, I believe it's harder to make wonderful things that are simple at the same time. Many of my works are on paper, I'll even transfer some to digital. Needless to say, this Bio was translated by Google Translate ;)</p>
 <!--               </div>
                 <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>